<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <properties>
        <property name="logMsgPattern">[%d{HH:mm:ss:SSS}] [%p] [%c{1}:%L] - %m%n%throwable</property>
        <property name="logDir">target/.logs</property>
    </properties>
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${logMsgPattern}" disableAnsi="false"/>
        </Console>

        <Routing name="file">
            <Routes pattern="$${ctx:testName:-commonActions}">
                <Route>
                    <RollingFile name="RollingFile-${ctx:testName:-commonActions}" fileName="${logDir}/${ctx:testName:-commonActions}.log"
                                 filePattern="${logDir}/%d{yyyy-MM-dd}/archived_%d{HH-mm}-${ctx:testName:-commonActions}.log">
                        <PatternLayout pattern="${logMsgPattern}"/>
                        <Policies>
                            <OnStartupTriggeringPolicy/>
                        </Policies>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>
    </appenders>

    <loggers>
        <root level="${sys:log4j.level}">
            <appender-ref ref="${sys:l4j}" level="${sys:log4j.level}"/>
        </root>
    </loggers>
</configuration>